{% load static %}
<section class="supported-sites">
  <h2 class="supported-sites-heading">Websites Deal Radar Supports</h2>
  <div class="logo-grid">
    <div class="logo-card"><img src="{% static 'images/logos/ebay.png' %}" alt="Ebay"></div>
    <div class="logo-card"><img src="{% static 'images/logos/johnlewis.png' %}" alt="John Lewis"></div>
    <div class="logo-card"><img src="{% static 'images/logos/atlanticelectrics.png' %}" alt="Atlantic Electrics"></div>
    <div class="logo-card"><img src="{% static 'images/logos/nike.png' %}" alt="Nike"></div>
    <div class="logo-card"><img src="{% static 'images/logos/argos.png' %}" alt="Argos"></div>
    <div class="logo-card"><img src="{% static 'images/logos/amazon.png' %}" alt="Amazon"></div>
    <div class="logo-card"><img src="{% static 'images/logos/costco.png' %}" alt="Costco"></div>
    <div class="logo-card"><img src="{% static 'images/logos/theworks.png' %}" alt="TheWorks.co.uk"></div>
    <div class="logo-card"><img src="{% static 'images/logos/jdsports.png' %}" alt="JDSports"></div>
    <div class="logo-card"><img src="{% static 'images/logos/currys.png' %}" alt="Currys"></div>
    <div class="logo-card"><img src="{% static 'images/logos/applianceCity.png' %}" alt="Appliance City"></div>
    <div class="logo-card"><img src="{% static 'images/logos/next.png' %}" alt="Next"></div>
  </div>
</section>